body {
    background-color: #f2f2f2 !important;
}

.landernewPage {
    width: 1060px;
    margin: 0 auto;
}

.landercontainer-fluid {
    /* width: 235px; */
    height: 66px;
    background: #fff !important;
}

.landermainHeaderNew {
    font-family: Quicksand;
}

.landerlanderButtonsDiv {
    width: 1060px;
    float:left;
    margin-top: 0px;
}

.landerHand {
    width: 1060px;
    float: left;
    background-color: #fafafa;
    background-image: url(/images/lander/Oval.svg);
    background-position: -272px 0;
    background-repeat: no-repeat;
    background-size: 807px;
}

.landerlanderTopSqure {
    float: left;
    width: 219px;
    height: 134px;
    border-radius: 10px;
    fill: #ffffff;
    -webkit-box-shadow: 6px 3px 2px rgba(0,0,0,0.2);
    box-shadow: 6px 3px 2px rgba(0,0,0,0.2);
    stroke-width: 2;
    border: 1px solid black;
    text-align: center;
    color: #110000;
    font-weight: bold;
    background-color: white!important;
    margin-top: 31px;
    margin-left: 38px;
}

.landerlanderTopSqure:hover {
    cursor: pointer;
    box-shadow: 0px 0 11px #c9c9c9;
}

.landerfirstSqareText {
    font-size: 20px;
    padding-top: 0px;
}

.landerHandrightLangerThird, .landerHandLeftLangerThird {
    float: left;
    width: 500px;
    display: inline-block;
}


.landersecondSqareText {
    font-size: 15px;
}

.landerheaderImagelander {
    background: url(/images/lander/DeskTop_Banner.png);
    height: 450px;
    /*background-position: -92px -18px;*/
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 1060px;
}

.landerheaderPosition {
    margin-left: 29px;
    padding-top: 106px;
}

.landerheaderH1 {
    letter-spacing: 1px;
    width: 918px;
    height: 67px;
    font-family: Quicksand;
    font-size: 44px;
    font-weight: bold;
    color: #006064!important;
    text-decoration: none solid rgb(255, 255, 255);
    margin-top: -19px;
}

.landerheaderH2 {
    letter-spacing: 0px;
    width: 459px;
    height: 77px;
    font-family: Quicksand;
    font-size: 18px;
    color: #263238!important;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 30px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 5px;
    display: inline-block;
}

.landerinputPositionMobile {
    display: none;
}

.landerinputPosition {
    padding-top: 20px;
    padding-left: 18px;
    position: relative;
    display: none;
}

.landerheaderInputMobile {
    display: none;
}

.landerheaderInput, .landerheaderInput:focus {
    width: 532px;
    height: 43px;
    border-radius: 16px;
    border: none;
    fill: #f2f2f2;
    font-family: Quicksand;
    font-size: 19px;
    color: #545252;
    line-height: 36px;
    box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.lander2);
    outline: none;
    padding-left: 65px;
    position: relative;
    text-transform: uppercase;
}

.landerheaderInput::placeholder {
    text-transform: capitalize;
}

.landerheaderInputIcon {
    width: 34px;
    height: 32px;
    fill: #4a4a4a;
    position: absolute;
    left: 285px;
    top: 26px;
}

.landerheaderInpuText {
    width: 433px;
    height: 40px;
    font-family: Quicksand;
    font-size: 21px;
    color: #545252;
    line-height: 36px;
    text-decoration: none solid rgb(84, 82, 82);
    line-height: 36px;
}

.landerheaderInputButton {
    width: 290px;
    height: 43px;
    border-radius: 16px;
    fill: #3ab54a;
    /* background: url(/images/new/Rounded-1.landersvg); */
    background-color: rgb(77, 182, 172) !important;
    position: absolute;
    border: none;
    left: 524px;
    top: 20px;
}

#root {
    background-color: white!important;
}

.landerheaderInputButtonText {
    width: 160px;
    height: 40px;
    font-family: Quicksand;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 36px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.landerheaderInputButtonIcon {
    width: 34px;
    height: 34px;
    fill: #ffffff;
    vertical-align: -9px;
    margin-left: 12px;
}

.landerticks {
    background-color: #f2f2f2 !important;
}

.landersecondHeader {
    max-width: 1060px;
    margin: 0 auto;
    height: 217px;
    float: left;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
}

.alignHand {
    margin-top: -5px;
}

.landerthirdHeader {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white !important;
    margin-top: 21px;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
    float: left;
}

.landerHandText {
    color: #110000!important;
    font-size: 20px;
    width: 424px;
    margin-left: 42px;
    margin-top: 69px;
    font-weight: bold;
}

.landerHandText span {
    font-size: 16px;
}

.handImageCalc {
    margin-top: 17px;
    padding-right: 7px;
}

.handImagePound {
    width: 64px;
    margin-top: 17px;
    padding-right: 7px;
}

.handImage {
    float:left;
}

.handText {
    /*float: right;*/
}

.landersecondHeaderTitle {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
    padding: 20px;
    padding-top: 10px;
    color: #000 !important;
    background-color: #f2f2f2 !important;
}

.second {
    background-color: white!important;
}

.landerthirdHeaderTitle {
    margin-bottom: -28px;
    text-align: center;
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    color: rgb(23, 91, 168) !important;
    width: 100%;
    background-color: white !important;
}

.landersecondHeaderSection {
    width: 265px;
    float: left;
    text-align: center;
    background-color: #f2f2f2 !important;
    margin-bottom: 0px;
}

.landersecondHeaderSectionTitle {
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f2f2 !important;
    margin-bottom: 13px;
}

.landersecondHeaderSectionTitle img {
    vertical-align: -10px;
    margin-bottom: 10px;
}

.landersecondHeaderSectionText {
    font-size: 16px;
    padding: 10px;
}

.landerprovidersNewImg {
    height: 131px;
    margin-left: 63px;
    float: left;
    background-color: white !important;
    display: inline-block;
}

.landerprovidersTalk {
    height: 50px;
    float: left;
    vertical-align: 34px;
    margin-top: 41px;
    position: relative;
    background-color: white !important;
    display: inline-block;
}

.landerprovidersNew {
    text-align: center;
    background-color: white!important;
    width: 1060px;
    margin-top: 67px;
}

.landerfourthHeader {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 6px;
    float: left;
    display: inline-block;
    background-color: #fafafa!important;
    background-image: url(/images/lander/Oval.svg);
    background-position: -272px 0;
    background-repeat: no-repeat;
    background-size: 807px;
}

.landerfourthHeaderTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    color: #000!important;
    background-color: #f2f2f2 !important;
    width: 100%;
    float: left;
}

.landerofferImageOrigin img {
    width: 70px;
    margin-top: -102px;
    margin-left: 46px;
    float: left;
}

.landeroffer {
    background-color: white !important;
    width: 971px;
    border: 1px solid black;
    height: 201px;
    float: left;
    border-radius: 6px;
    margin-left: 43px;
    padding: 22px;
    padding-top: 15px;
    margin-bottom: 9px;
}

.landeroffer_4 {
    height: 207px;
    padding-top: 8px;
}

.landeroffer_3 {
    height: 207px;
}

.landeroffer_2 {
    height: 204px;
    padding-top: 18px;
}

.landeroffer_1 {
    height: 204px;
    margin-top: -5px;
    padding-top: 21px;
}

.landerofferImageTalk img {
    width: 78px;
    margin-left: 43px;
    margin-top: -49px;
    float: left;
    margin-right: 0;
}

.landerofferImageOctopus img{
    width: 78px;
    margin-left: 41px;
    margin-top: -90px;
    float: left;
    margin-right: 0;
}

.landerofferImageDirect img{
    width: 116px;
    margin-left: 165px;
    margin-top: -117px;
    float: left;
    margin-right: 0;
}

.landerofferImageVoda img{
    width: 122px;
    margin-left: 21px;
    margin-top: -118px;
    float: left;
    margin-right: 0;
}

.landerofferImage img {
    width: 60px;
    margin-top: 31px;
    float: left;
}

.landerofferImageMobile img {
    width: 86px;
    margin-top: 24px;
    float: left;
    margin-left: -17px;
}

.landerofferImageWifi img {
    width: 65px;
    margin-top: 41px;
    float: left;
    margin-left: -7px;
    margin-right: 0px;
}

.landerofferTitle {
    font-weight: bold;
    font-size: 24px;
    padding-left: 80px;
    letter-spacing: 1px;
    color: black;
}

.firstAdsl {
    margin-top: 11px;
    margin-left: 2px;
}

.landerofferSubTitle {
    font-size: 20px;
    color: #006064 !important;
    padding-left: 80px;
    margin-bottom: 19px;
    margin-top: 6px;
    letter-spacing: -1px;
    font-weight: bold;
}

.landerofferContent {
    height: 69px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: -7px;
    border-right: 1px solid;
    /* padding-right: 20px; */
    padding-top: 10px;
    line-height: 27px;
}

.landerofferContent:nth-child(3) {
    margin-left: 2px;
}

.landerofferContent:nth-child(5) {
    width: 120px;
}

.landerofferContent:nth-child(6) {
    width: 157px;
}

.landerofferContent:nth-child(7) {
    border-right: none;
}

.landerofferContent span {
    color: #006064 !important;
}

.landerofferButton {
    height: 41px;
    border-radius: 15px;
    fill: #3ab54a;
    /* background: url(/images/new/Rounded-1.landersvg); */
    background-color: #4db6ac !important;
    left: 285px;
    margin-top: 10px;
    border: none;
    float: right;
    width: 165px;
}

.landerofferButtonText {
    width: 154px;
    height: 45px;
    font-family: Quicksand;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 22px;
    text-align: center;
}

.landertalk1 {
    margin-top: 20px;
}

.landertalk2 {
    margin-top: 13px;
}

.landertalk_cont_1 {
    margin-left: 63px!important;
}
.landertalk_cont_2 {
    margin-left: 8px!important;
}
.landertop_align_1 {
    margin-top: -19px;
}
.landertop_align_btn_1 {
    margin-top: 0px;
}
.landertitle_top_margin {
    margin-top: 28px;
}


.landertestemonials {
    width: 1060px;
    margin: 0 auto;
    background-color: white !important;
    margin-bottom: 11px;
    float: left;
    display: inline-block;
    background: url(/images/lander/DeskTop_Testimonial_1.png);
    height: 383px;
    background-repeat: no-repeat;
    background-size: 1060px;
    margin-top: 36px;
    background-position: 0px 0px;
}

.testBox {
    width: 60%;
    float:left;
}

.factsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 14px;
    color: black !important;
    width: 100%;
    float: left;
    letter-spacing: 0px;
    margin-top: -89px;
}

.landertestemonialsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 14px;
    color: black !important;
    width: 100%;
    float: left;
    letter-spacing: 0px;
    margin-top: 52px;
}

.landertestemonialsText {
    text-align: center;
    font-size: 19px;
    width: 375px;
    margin: 0 auto;
    margin-top: -5px;
    margin-left: 38px;
    float: left;
}

.landertestemonialsText span {
    font-size: 16px;
    float: left;
    margin: 0 auto;
    margin-left: 110px;
    margin-top: 14px;
}

.landerabout {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white !important;
    margin-top: 74px;
    float: left;
    background-image: url(/images/lander/Oval_grey.svg);
    background-position: 118px -222px;
    background-repeat: no-repeat;
    background-size: 1400px 3000px;
    padding-top: 18px;
}

.landeraboutTitle {
    color: #006064 !important;
    font-size: 24px;
    font-weight: 800;
}

.landerabout_1 {
    margin-top: 6px;
}

.landerabout_2 {
    margin-top: 5px;
}

.landerabout_5 {
    margin-top: -10px;
}

.landerabout_3 {
    margin-top: 7px;
    line-height: 23px;
    margin-bottom: 11px;
}

.landerabout_4 {
    Margin-top: -2px;
    width: 686px;
    line-height: 23px;
    margin-bottom: 10px;
}

.landeraboutText {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 46px;
}

.landeraboutText span {
    color: #4db6ac !important;
    font-weight: bold;
}

.landerpanelLeft {
    width: 255px;
    float: left;
    padding: 29px;
    font-weight: bold;
    display: inline-block;
    margin-left: 38px;
    margin-top: -35px;
    padding-right: 0;
}

.landerpanelLeft a {
    color: black !important;
    font-size: 17px;
    margin-bottom: 10px;
}

.landerpanelLeft span {
    color: black !important;
    font-size: 16px;
    margin-bottom: 10px;
}

.landerpanelRight {
    width: 703px;
    float: right;
    margin-top: -19px;
    margin-right: 54px;
}

.landerlastButtonDiv {
    text-align: center;
    height: 99px;
    background-color: white !important;
    float: left;
    width: 100%;
    margin-top: -45px;
}

.landerbackToTop {
    margin-left: 34px;
    font-size: 16px;
    float:left;
}

#myBtn {
    background-color: transparent!important;
    border: none;
}

#myBtn img {
    width: 44px;
    margin-top: 5px;
    margin-left: -10px;
}

.landerlastButton {
    width: 260px;
    height: 46px;
    border-radius: 14px;
    fill: #3ab54a;
    color: white !important;
    background-color: #4db6ac !important;
    border: none;
    font-size: 25px;
    margin-top: 21px;
    margin-left: -123px;
}

.landerfooter {
    background-color: #185ba9 !important;
    width: 100%;
    height: 200px;
    overflow: hidden;
    font-weight: bold;
}

.landerfooter_link {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white !important;
    font-weight: bold;
    font-size: 0.lander8em;
    background-color: #185ba9 !important;
}

.landerfooter_link a {
    color: white !important;
    font-weight: bold;
}

.landercopyright {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white !important;
    font-weight: bold;
    font-size: 0.lander8em;
    padding-top: 5px;
    background-color: #185ba9 !important;
}

/*.landernavbar-default {*/
/*    width: 1069px;*/
/*    margin: 0 auto;*/
/*}*/

.landertestemonialsImage {
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
}

.landertestemonialsImage img {
    width: 164px;
    height: 28px;
    margin-top: 11px;
}

.landerarrowLeft {
    margin-top: 37px;
    float: left;
    margin-left: 57px;
}

.landerarrowLeft img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.landerarrowRight {
    float: right;
    margin-top: -131px;
    margin-right: 55px;
}

.landerarrowRight img {

}

.landerprovidersMobile {
    display: none;
}

.landermobileOffer {
    display: none;
}

.landerMobile {
    margin-left: 144px;
    margin-top: 15px;
    width: 484px;
}

.landeraboutDropDown {
    display: none;
}

.landerfourthHeaderMobile {
    display: none;
}

.landeroffer_mobile {
    /*width: 122px;*/
    /*padding: 0px;*/
}

#landerAnchortoselect {
    font-size: 21px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-left: 31px;
    padding: 12px;
    border-radius: 24px;
    margin-top: 16px;
    color: #006064!important;
    font-weight: bold;
    background-color: white!important;
}

.landerabout_wifi {
    margin-top: -0px;
}

#bundle {
    margin-top: 0px;
}
.landerlanderTopSqure img {
    float: none;
}

.mobileHand {
    display: none;
}

@media only screen and (max-width: 480px) {

    .landerfirstSqareText {
        font-size: 20px;
        padding-top: 7px;
    }

    .mobileIns {
        width: 86px!important;
    }

    .mobileHand {
        display: inline-block;
        width: 100%!important;
        overflow: hidden;
    }

    .landerMobile {
        margin-left: 10%;
        margin-top: 15px;
        width: 484px;
    }

    .landerofferImageDirect img {
        width: 62px;
        margin-left: 30px;
        margin-top: 0px;
        float: left;
        margin-right: 0;
    }

    .landerofferImageMobile img {
        width: 86px;
        margin-top: 8px;
        float: right;
        margin-left: -17px;
    }

    .landerofferImageVoda img {
        width: 78px;
        margin-left: 14px;
        margin-top: -5px;
        float: left;
        margin-right: 0;
    }

    .landerofferImageOrigin img {
        width: 36px;
        margin-top: 9px;
        margin-left: 38px;
        float: left;
    }

    .landerofferImageOctopus img {
        width: 68px;
        margin-left: 25px;
        margin-top: 0px;
        float: left;
        margin-right: 0;
    }

    .landerofferImageWifi img {
        width: 65px;
        margin-top: -1px;
        float: right;
        margin-right: 30px;
    }

    .priceMobile {
        margin-top: 0px!important;
        padding-top: 5px!important;
    }

    .landerheaderImagelander {
        background: url(/images/lander/mob-header.png);
        background-color: #fafafa;
        height: 507px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .landerlanderButtonsDiv {
        width: 100%;
        float:left;
        margin-top: -123px;
    }

    .landerlanderTopSqure {
        float: none;
        width: 73%;
        height: 70px;
        margin-top: 15px;
        margin-left: 13%;
        text-align: left;
    }

    .landerlanderTopSqure img {
        float: left;
    }

    .landerspecial {
        margin-top: 0px!important;
        width: 113px!important;
    }

    .landerofferContent:nth-child(3) {
        margin-left: 0px!important;
    }

    .landermobileOffer {
        margin-top: 0!important;
    }

    .landerofferContent:nth-child(6) {
        width: 32%;
    }

    .landernewPage {
        width: 100%;
        margin: 0 auto;
    }

    .landeroffer_lengths1 {
        width: 122px!important;
    }

    .landerfourthHeader {
        display: none;
    }

    .landerfourthHeaderMobile {
        display: inline-block;
    }

    .landerheaderPosition {
        margin-left: 14px;
        height: 264px;
    }

    .landerinputPosition {
        display: none;
    }

    .landerinputPositionMobile {
        position: relative;
        display: none;
        width: 100% !important;
        margin-top: -88px;
        padding-left: 0px;
        padding-top: 21px;
        float: left;
        left: 0 !important;
    }

    .landermainHeaderNew {
        height: 279px;
    }

    .landerheaderInputMobile, .landerheaderInputMobile:focus {
        display: inline-block;
        height: 65px;
        border-radius: 27px;
        border: none;
        fill: #f2f2f2;
        font-family: Quicksand;
        font-size: 24px;
        color: #545252;
        line-height: 36px;
        -webkit-box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.lander2);
        box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.lander2);
        outline: none;
        padding-left: 47px;
        position: relative;
        text-transform: uppercase;
        width: 94%;
        margin-left: 12px;
        margin-top: -3px;
    }

    .landerheaderInputMobile::placeholder {
        text-transform: capitalize;
    }

    .landerheaderInputIconMobile {
        width: 29px;
        position: absolute;
        top: 35px;
        left: 29px;
    }

    .landerheaderInputButtonMobile {
        width: 52px;
        height: 51px;
        border-radius: 24px;
        fill: #3ab54a;
        background-color: #4db6ac !important;
        position: absolute;
        border: none;
        left: 82.5%;
        top: 25px;
    }

    .landerheaderInputButtonIcon {
        margin-left: 4px;
    }

    .landerheaderInput, .landerheaderInput:focus {
        width: 95%;
        font-size: 17px;
    }

    .landerheaderInputButtonText {
        display: none;
    }

    .landerheaderH1 {
        width: 100%;
        height: 67px;
        font-size: 30px;
        margin-top: -95px;
        letter-spacing: 1px;
    }

    .mobile {
        width: 137px!important;
    }

    .landerheaderH2 {
        display: none;
        width: 93%;
        margin-top: -18px;
        font-size: 16px;
        margin-left: 2px;
        letter-spacing: 0px;
        line-height: 20px;
    }

    .landerheaderImage {
        background-position: -117px 0px;
        background-size: 735px;
    }

    .landernavbar-default {
        width: 100%;
        margin: 0 auto;
    }

    .landersecondHeaderTitle {
        padding-top: 10px;
    }

    .landersecondHeaderSectionTitle img {
        margin-bottom: 0px;
    }

    .landersecondHeader {
        max-width: 100%;
        margin: 9px auto 21px;
        height: 741px;
    }

    .landerheaderInputIcon {
        left: 26px !important;
        top: 29px !important;
    }

    .landerheaderInputButton {
        width: 55px;
        left: 297px !important;
        top: 26px !important;
    }

    .landerprovidersMobile {
        display: none;
        width: 324px;
    }

    .landersecondHeaderSection {
        width: 100%;
        margin-bottom: 7px;
    }

    .landersecondHeaderSectionTitle {
        font-size: 21px;
        margin-bottom: 0px;
    }

    .landersecondHeaderSectionText {
        font-size: 18px;
    }

    .landerthirdHeader {
        margin-top: 9px;
        width:100%;
    }

    .landerprovidersNewImg {
        width: 75%;
        height: auto;
        margin-left: 2px;
        margin-top: 5px;
    }

    .landerprovidersTalk {
        height: 18px;
        float: left;
        vertical-align: 35px;
        margin-top: 21px;
    }

    .landerHandrightLangerThird, .landerHandLeftLangerThird {
        float: left;
        width: 500px;
        display: none;
    }

    .landerHand {
        width: 100%;
    }

    .landerthirdHeaderTitle {
        margin-bottom: 15px;
        text-align: center;
        float: left;
        font-size: 30px;
        font-weight: bold;
        padding: 17px 0 0 0px;
        color: rgb(23, 91, 168) !important;
        width: 100%;
        background-color: white !important;
    }

    .landeroffer {
        background-color: white !important;
        width: 98%;
        /* height: 100%; */
        border: none;
        padding: 0;
        padding-top: 0;
        margin-left: 6px;
        margin-top: 0px;
        height: 293px!important;
    }

    .landertalk1 {
        margin-top: -3px;
    }

    .landertalk_cont_1 {
        margin-left: 3px!important;
    }

    .landerofferImage img {
        width: 50px;
        margin-top: 9px;
        margin-right: 31px;
        float: right;
    }

    .landerofferTitle {
        font-weight: bold;
        font-size: 20px;
        padding-left: 14px;
        padding-top: 17px;
        padding-bottom: 5px;
    }

    .landerofferSubTitle {
        padding-left: 0;
        margin-top: -9px;
        margin-left: 13px;
        font-size: 18px;
    }

    .landerofferContent {
        width: 32%;
        height: 68px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        float: left;
        margin-left: 0px;
        border-right: 1px solid;
        padding: 5px;
        margin-top: 0px;
    }

    .landeroffer_mobile {
        width: 124px;
        padding: 0px;
        margin-top: -18px;
        height: 64px;
    }

    .landerofferContent:nth-child(6) {
        margin-top: 0px;
    }

    .landermobile_price {
        font-size: 32px;
    }

    .landerofferButton {
        width: 84%;
        margin-top: 9px;
        float: left;
        margin-left: 32px;
    }

    .landermobileOffer {
        display: inline-block;
    }

    .landerofferContent:nth-child(5), .landerofferContent:nth-child(8) {
        border-right: none;
    }

    .landerofferContent:nth-child(3), .landerofferContent:nth-child(4), .landerofferContent:nth-child(5) {
        border-bottom: 1px solid black;
    }

    .landerofferContent:nth-child(7) {
        border-right: 1px solid black;
    }

    .landerofferImageTalk img {
        width: 85px;
        margin-top: 18px;
        float: right;
        margin-right: 15px;
        margin-left: 20px;
    }

    .landertestemonials {
        width: 100%;
        margin: 0 auto;
        background-color: white !important;
        margin-bottom: 11px;
        float: left;
        display: inline-block;
        background: url(/images/lander/DeskTop_Testimonial_1.png);
        height: 383px;
        background-position: -265px -1px;
        background-repeat: no-repeat;
        background-size: 1060px;
        margin-top: 0px;
    }

    .testBox {
        width: 100%;
        float: left;
    }

    .landertestemonialsTitle {
        margin-top: 58px;
    }

    .landerarrowLeft {
        margin-left: 13px;
    }

    .landerarrowRight {
        float: right;
        margin-top: -144px;
        margin-right: 15px;
    }

    .landertestemonialsText {
        text-align: center;
        font-size: 19px;
        width: 77%;
        margin: 0 auto;
        margin-top: 11px;
        margin-left: 4px;
        float: left;
    }

    .landertestemonialsText span {
        font-size: 16px;
        float: left;
        margin: 0 auto;
        margin-left: 67px;
        margin-top: 14px;
    }

    .factsTitle {
        margin-top: 0px;
    }

    .landerfourthHeader {
        margin-top: 0px;
        background: none;
    }

    .landerabout {
        max-width: 1100px;
        margin: 0 auto;
        background-color: white !important;
        margin-top: 0px;
    }

    .landerpanelLeft {
        display: none;
    }

    .landerpanelRight {
        background: none !important;
        width: 100%;
        float: left;
        padding: 16px;
    }

    .landeraboutText {
        text-align: justify;
        font-size: 15.lander8px;
    }

    .landeraboutDropDown {
        display: inline-block;
    }

    .landerabout_4 {
        Margin-top: -2px;
        width: 100%;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .landeroffer_2_desc {
        width: 113px;
        padding: 0px;
        padding-top: 5px;
    }

    .landeroffer_3 {
        margin-top: 0px !important;
    }

    .landeroffer_2 {
        height: 279px !important;
    }

    .landertitle_top_margin {
        margin-top: -3px;
    }

    .landeroffer_4 {
        height: 277px!important;
        padding-top: 8px;
    }

    .landertalk2 {
        margin-top: 8px;
    }

    #landerAnchortoselect {
        font-size: 21px;
        width: 371px;
        margin: 0 auto;
        text-align: center;
        margin-left: 13px;
        padding: 12px;
        border-radius: 24px;
        margin-top: 13px;
        color: #006064!important;
        font-weight: bold;
        height: 65px;
        text-align-last: center;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }

    .landerAboutDropDown select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url(/images/lander/down.png);
        background-repeat: no-repeat;
        background-position-x: 91%;
        background-position-y: 17px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding: 1rem;
        padding-right: 2rem;
    }

    .landerabout_1 {
        margin-top: 16px;
    }

    .landerabout_2 {
        margin-top: -12px;
    }

    .landerabout_wifi {
        margin-top: -36px;
    }

    .landerabout_3 {
        margin-top: -5px;
        line-height: 28px;
        margin-bottom: -6px;
    }

    .landerabout_5 {
        margin-top: -28px;
        line-height: 25px;
    }

    #bundle {
        margin-top: -20px;
    }

    .landerbackToTop {
        margin-left: 4px;
        font-size: 16px;
        float: none;
    }
    .landerlastButtonDiv {
        height: 146px;
    }
    .landerlastButton {
        width: 260px;
        height: 46px;
        border-radius: 14px;
        fill: #3ab54a;
        color: white !important;
        border: none;
        font-size: 25px;
        margin-top: 17px;
        margin-left: -1px;
    }

}

@media only screen and (max-width: 414px) {
    .landeroffer_2_desc, .landeroffer_mobile, .landerspecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 412px) {
    .landeroffer_2_desc, .landeroffer_mobile, .landerspecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 390px) {
    .landeroffer_2_desc, .landeroffer_mobile, .landerspecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 384px) {
    .landeroffer_2_desc, .landeroffer_mobile, .landerspecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 375px) {
    .landerbackToTop {
        margin-left: 4px;
        font-size: 16px;
        float: none;
    }
    .landerlastButtonDiv {
        height: 146px;
    }
    #landerAnchortoselect {
        font-size: 21px;
        width: 331px;
        margin: 0 auto;
        text-align: center;
        margin-left: 13px;
        padding: 12px;
        border-radius: 24px;
        margin-top: 13px;
        color: #006064!important;
        font-weight: bold;
        height: 65px;
        -moz-text-align-last: center;
        text-align-last: center;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }

    .landerheaderInputMobile, .landerheaderInputMobile:focus {
        font-size: 18px;
    }
    .landerspecial {
        margin-top: 0!important;
        width: 113px!important;
    }

    .landerheaderInputButtonIcon {
        margin-left: 0px;
    }

    .landerheaderInputButtonMobile {
        left: 81%;
        top: 25px;
    }

    .landerofferContent {
        font-size: 13px;
    }

    .landerofferButton {
        width: 84%;
        margin-top: 7px;
        float: left;
        margin-left: 32px;
    }

    .landeroffer {
        margin-top: 0px;
    }

    .landeroffer_2_desc, .landeroffer_mobile {
        width: 113px;
    }

    .landerlastButton {
        margin-top: 17px;
        margin-left: -1px;
    }

    .landeroffer_3 {
        margin-top: 0px!important;
    }

    .landeroffer_2 {
        height: 267px!important;
    }

    .landeroffer_4 {
        height: 277px!important;
        padding-top: 0px;
    }

}

#landerAnchortoselect option:nth-child(1) {

}

@media only screen and (max-width: 360px) {
    .landerheaderInputMobile, .landerheaderInputMobile:focus {
        width: 94%;
        margin-left: 12px;
        margin-top: -3px;
        font-size: 20px;
        border: none;
    }

    #landerAnchortoselect {
        font-size: 21px;
        width: 320px;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }
    .landerheaderInputButtonMobile {
        left: 81%;
        top: 25px;
    }

    .landerthirdHeaderTitle {
        font-size: 26px;
    }
    .landerfourthHeaderTitle {
        text-align: center;
        font-size: 28px;
    }
    .landeroffer {
        background-color: white !important;
        width: 97%;
        margin-bottom: 25px;
    }

    .landerofferImageTalk img {
        width: 85px;
        margin-top: 27px;
        float: right;
        margin-right: 14px;
    }

    .landerofferImage img {
        width: 50px;
        margin-top: 9px;
        margin-right: 29px;
        float: right;
    }

    .landerofferContent {
        width: 32%;
        height: 68px;
        font-size: 12px;
    }
    .landeroffer_lengths1 {
        width: 32%!important;
    }
    .landerofferContent:nth-child(7) {
        border-right: 1px solid black;
        margin-top: 0px;
    }
    .landeroffer_mobile {
        width: 32%;
        padding: 0px;
        margin-top: -18px;
        height: 64px;
        padding-top: 1px;
    }
    .landerofferContent:nth-child(6) {
        margin-top: 0px;
    }
    .landerofferContent:nth-child(5) {
        width: 111px;
    }
    .landerspecial {
        margin-top: 0!important;
        width: 113px!important;
    }


}

@media only screen and (max-width: 320px) {
    .landeroffer_lengths1 {
        width: 36%!important;
    }
    .landerofferContent {
        width: 32%;
        height: 68px;
        font-size: 11px;
    }
    .landerheaderH1 {
        width: 100%;
        height: 67px;
        font-size: 25px;
        margin-top: -95px;
        letter-spacing: 1px;
    }
    .landerfirstSqareText {
        font-size: 19px;
        padding-top: 9px;
    }
    .landersecondSqareText {
        font-size: 12px;
    }
}

/* NEW SPEED JOURNEY */

.landerspeedHeaderH1 {
    font-family: Quicksand;
    font-size: 52px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
}

.landerspeedHeaderPosition {
    margin-left: 34px;
    padding-top: 58px;
    width: 744px;
    text-align: center;
    margin: 0 auto;
}

.landerspeedHeaderH2 {
    /* width: 557px; */
    height: 77px;
    font-family: Quicksand;
    font-size: 26px;
    color: #ffffff;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 30px;
    padding-top: 22px;
}

.landerspeedlastButton {
    width: 291px;
    height: 53px;
    border-radius: 21px;
    fill: #3ab54a;
    color: white !important;
    background-color: #3ab54a !important;
    border: none;
    font-size: 26px;
    margin-top: -5px;
}

.landerspeedLastButtonDiv {
    text-align: center;
    height: 68px;
    background-color: transparent !important;
    float: left;
    width: 100%;
    margin-top: -10px;
}

.landerspecs {
    padding-left: 27px;
}

.landerspeedresult {
    width: 100%;
    float: left;
    margin: 0 auto;
}

.landerinterpretation {
    width: 79%;
    height: 349px;
    margin: 0 auto;
    background-color: #649fe2!important;
    border-radius: 10px;
    text-align: center;
}

.landerspecsSquare {
    width: 266px;
    float: left;
    height: 71px;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    padding-top: 8px;
}

.landerred {
    color: white;
    font-weight: bold;
    background-color: #fc1717!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.landerorange {
    color: white;
    font-weight: bold;
    background-color: #fca817!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.landergreen {
    color: white;
    font-weight: bold;
    background-color: #3ab54a!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.landerupload {
    margin-top: 120px;
}

.landerinterpretationTitle {
    text-align: center;
    padding-top: 11px;
    font-size: 25px;
    color: white;
}

.landerspeedDesc {
    float:left;
    text-align: center;
    margin-top: 21px;
}

.landerspeedDescTitle {
    font-size: 25px;
    color: #175ba8!important;
}

.landerspeedDescText {
    font-size: 17px;
    width: 86%;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 25px;
}

.landerspeedDescText a:hover {
    text-decoration: none;
    cursor: default;
}

.landerspeedExamples {
    float: left;
    text-align: center;
    margin-top: 33px;
    background-color: #f7f5f5!important;
}

.landerspeedExamples img {
    width: 120px;
}

.landeriframeContainer {
    float: left;
    width: 100%;
}

.landernetflix {
    margin-bottom: -9px;
}

.landeriframe {
    width: 670px;
    height: 489px;
    background-color: #649fe2!important;
    margin: 0 auto;
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px;
}

.landerspeedSecondHeaderTitle {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding-top: 26px;
    padding-bottom: 20px;
    color: rgb(23, 91, 168) !important;
}

.landerhoumuch {
    margin-top: 45px;
}

.landerskype {
    width: 147px!important;
    margin-top: 14px;
}

.landerzoom {
    margin-top: 21px;
}

.landerbetter {
    margin-top: 49px;
    margin-bottom: 31px;
}

.landerbetterButton {
    margin-bottom:22px;
}

.landermainHeaderSpeed {
    /* height: 450px; */
    font-family: Quicksand;
    float: left;
    background-color: white;
}

.landerspeedheaderImage {
    background: url(/images/new/new.jpg);
    height: 461px;
    background-position: -92px -18px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 1338px;
}

@media only screen and (max-width: 480px) {
    .landerspeedHeaderPosition {
        margin-left: 1px;
        padding-top: 0px;
        width: 100%;
    }
    .landermainHeaderSpeed {
        width: 100%;
    }
    .landerspeedHeaderH1 {
        font-size: 44px;
    }
    .landerspeedHeaderH2 {
        font-size: 18px;
        padding-top: 9px;
    }
    .landeriframe {
        width: 100%;
        height: 287px;
        background-color: #649fe2!important;
        margin: 0 auto;
        margin-left: 0;
        border-radius: 0;
    }
    .landerinterpretation {
        width: 100%;
        border-radius: 0;
        height: 474px;
    }
    .landerspecs {
        padding-left: 1px;
    }
    .landerspecsSquare {
        width: 118px;
        height: 142px;
    }
    .landerred, .landerorange, .landergreen {
        height: 49px;
        font-size: 19px;
    }
    .landerspeedDesc {
        float: left;
        text-align: left;
        margin-top: 106px;
    }
    .landerspeedExamples {
        float: left;
        text-align: left;
        margin-top: 33px;
        background-color: #f7f5f5!important;
        width: 100%;
    }
}
