body {
    background-color: #f2f2f2 !important;
}

.mobileHeader {
    height: 64px;
    font-size: 24px;
    line-height: 63px;
    background-color: #0b97a3!important;
    text-align: center;
    color: white!important;
    font-weight: bold;
}

.mobileJourney {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.mobile_offer_bottom {
    /*width: 1024px;*/
    width: 905px;
    background-image: url(/images/mobile/DEAL-HAND.png);
    background-repeat: no-repeat;
    background-size: 59% 100%;
    margin: 0 auto;
    float:left;
    margin-left:200px;
}

.mobileContainer {
    padding: 0px!important;
}

.mobile_offer_right {
    width: 455px;
    float:right;
}

.mobileSubmit {
    width: 307px;
    height: 55px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background-color: #fc30d0!important;
    box-shadow: 3px 5px 2px rgba(0,0,0,0.2);
    font-family: Quicksand;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 20px;
}

.mobile_offer_top {
    font-size: 16px;
    color:#6e6e6e!important;
    padding: 0px;
}

.mobile_offer_top span {
    font-size: 20px;
    color:#6e6e6e!important;
    font-weight: bold;
}

.mobileAnserSquare {
    float: left;
    width: 188px;
    height: 188px;
    border-radius: 10px;
    fill: #ffffff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    background-color: #fff!important;
    margin-left:20px;
    position:relative;
    margin-bottom: 22px;
}

.mobileAnserSquare:hover {
    cursor: pointer;
    box-shadow: 0px 0 11px #c9c9c9;
}

.mobileAnserSquare img {
    width: 61px;
    margin-top: 32px;
}

.mobileAnserSquare span {
    font-size: 24px;
    color: #0b97a3!important;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.mobileSecondQuestion {
    display: none;
}

.secondQuestion {
    width: 109px!important;
    margin-top: 17px!important;
}

.secondHandMobile {
    transform: rotate(42deg);
}

.mobileAnswers {
    width: 445px;
    margin: 0 auto;
}

.MobileQuestion {
    color:#6e6e6e!important;
    font-size:28px;
    font-family: Quicksand;
}

.mobilenewPage {
    width: 1060px;
    margin: 0 auto;
}

.mobilecontainer-fluid {
    /* width: 235px; */
    height: 66px;
    background: #fff !important;
}

.mobilemainHeaderNew {
    font-family: Quicksand;
}

.mobilelanderButtonsDiv {
    width: 1060px;
    float:left;
    margin-top: 0px;
}

.mobileHand {
    width: 1060px;
    float: left;
    background-color: #fafafa;
    background-image: url(/images/lander/Oval.svg);
    background-position: -272px 0;
    background-repeat: no-repeat;
    background-size: 807px;
}

.mobilelanderTopSqure {
    float: left;
    width: 219px;
    height: 134px;
    border-radius: 10px;
    fill: #ffffff;
    -webkit-box-shadow: 6px 3px 2px rgba(0,0,0,0.2);
    box-shadow: 6px 3px 2px rgba(0,0,0,0.2);
    stroke-width: 2;
    border: 1px solid black;
    text-align: center;
    color: #110000;
    font-weight: bold;
    background-color: white!important;
    margin-top: 31px;
    margin-left: 38px;
}

.mobilelanderTopSqure:hover {
    cursor: pointer;
    box-shadow: 0px 0 11px #c9c9c9;
}

.mobilefirstSqareText {
    font-size: 20px;
    padding-top: 0px;
}

.mobileHandrightLangerThird, .mobileHandLeftLangerThird {
    float: left;
    width: 500px;
    display: inline-block;
}


.mobilesecondSqareText {
    font-size: 15px;
}

.mobileheaderImage {
    background: url(/images/mobile/header-bg.png);
    height: 450px;
    background-color: #3397a4;
    /*background-position: -92px -18px;*/
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 1060px;
}

.mobileheaderPosition {
    margin-left: 29px;
    padding-top: 106px;
}

.mobileheaderH1 {
    letter-spacing: 1px;
    width: 918px;
    height: 67px;
    font-family: Quicksand;
    font-size: 39px;
    font-weight: bold;
    color: #fff!important;
    text-decoration: none solid rgb(255, 255, 255);
    margin-top: -66px;
    margin-left: 43px;
}

.mobileheaderH2 {
    letter-spacing: 0px;
    width: 459px;
    height: 77px;
    font-family: Quicksand;
    font-size: 24px;
    color: #fff!important;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 30px;
    font-weight: bold;
    margin-top: 28px;
    margin-left: 78px;
    display: inline-block;
}

.mobileSquare {
    width: 50%;
    /* padding: 20px; */
    /* margin-left: 195px; */
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff!important;
}

.mobileSquare {
    font-size: 20px;
}

.mobileSquare img{
    width: 70px;
}

.mobileSuqere1 {
    margin-top: 19px;
    width: 200px;
    margin-left: 150px;
}

.mobileSuqere2 {
    margin-top: 33px;
    width: 163px;
    margin-left: 198px;
}

.mobileSuqere3 {
    margin-top: 19px;
    width: 176px;
    margin-left: 159px;
}

.mobileSuqere4 {
    margin-top: 19px;
    width: 163px;
    margin-left: 201px;
}

.mobileinputPositionMobile {
    display: none;
}

.mobileinputPosition {
    padding-top: 20px;
    padding-left: 18px;
    position: relative;
    display: none;
}

.mobileheaderInputMobile {
    display: none;
}

.mobileheaderInput, .mobileheaderInput:focus {
    width: 532px;
    height: 43px;
    border-radius: 16px;
    border: none;
    fill: #f2f2f2;
    font-family: Quicksand;
    font-size: 19px;
    color: #545252;
    line-height: 36px;
    box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.mobile2);
    outline: none;
    padding-left: 65px;
    position: relative;
    text-transform: uppercase;
}

.mobileheaderInput::placeholder {
    text-transform: capitalize;
}

.mobileheaderInputIcon {
    width: 34px;
    height: 32px;
    fill: #4a4a4a;
    position: absolute;
    left: 285px;
    top: 26px;
}

.mobileheaderInpuText {
    width: 433px;
    height: 40px;
    font-family: Quicksand;
    font-size: 21px;
    color: #545252;
    line-height: 36px;
    text-decoration: none solid rgb(84, 82, 82);
    line-height: 36px;
}

.mobileheaderInputButton {
    width: 290px;
    height: 43px;
    border-radius: 16px;
    fill: #3ab54a;
    /* background: url(/images/new/Rounded-1.mobilesvg); */
    background-color: rgb(77, 182, 172) !important;
    position: absolute;
    border: none;
    left: 524px;
    top: 20px;
}

#root {
    background-color: white!important;
}

.mobileheaderInputButtonText {
    width: 160px;
    height: 40px;
    font-family: Quicksand;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 36px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.mobileheaderInputButtonIcon {
    width: 34px;
    height: 34px;
    fill: #ffffff;
    vertical-align: -9px;
    margin-left: 12px;
}

.mobileticks {
    background-color: #f2f2f2 !important;
}

.mobilesecondHeader {
    max-width: 1060px;
    margin: 0 auto;
    height: 217px;
    float: left;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
}

.alignHand {
    margin-top: -5px;
}

.mobilethirdHeader {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white !important;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
    float: left;
}

.mobileHandText {
    color: #110000!important;
    font-size: 20px;
    width: 424px;
    margin-left: 42px;
    margin-top: 69px;
    font-weight: bold;
}

.mobileHandText span {
    font-size: 16px;
}

.handImageCalc {
    margin-top: 17px;
    padding-right: 7px;
}

.handImagePound {
    width: 64px;
    margin-top: 17px;
    padding-right: 7px;
}

.handImage {
    float:left;
}

.handText {
    /*float: right;*/
}

.mobilesecondHeaderTitle {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
    padding: 20px;
    padding-top: 10px;
    color: #000 !important;
    background-color: #f2f2f2 !important;
}

.second {
    background-color: white!important;
}

.mobilethirdHeaderTitle {
    text-align: center;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: rgb(23, 91, 168) !important;
    width: 100%;
    background-color: white !important;
}

.mobilesecondHeaderSection {
    width: 265px;
    float: left;
    text-align: center;
    background-color: #f2f2f2 !important;
    margin-bottom: 0px;
}

.mobilesecondHeaderSectionTitle {
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f2f2 !important;
    margin-bottom: 13px;
}

.mobilesecondHeaderSectionTitle img {
    vertical-align: -10px;
    margin-bottom: 10px;
}

.mobilesecondHeaderSectionText {
    font-size: 16px;
    padding: 10px;
}

.mobileprovidersNewImg {
    height: 117px;
    float: left;
    background-color: white !important;
    display: inline-block;
}

.mobileprovidersTalk {
    height: 50px;
    float: left;
    vertical-align: 34px;
    margin-top: 41px;
    position: relative;
    background-color: white !important;
    display: inline-block;
}

.mobileprovidersNew {
    text-align: center;
    background-color: white!important;
    width: 1060px;
    margin-top: 67px;
}

.mobilefourthHeader {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    float: left;
    display: inline-block;
    background-color: #fafafa!important;
    background-image: url(/images/mobile/moddle-bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 587px;
}

.mobilefourthHeaderTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff!important;
    width: 100%;
    float: left;
    margin-top: 17px;
}

.mobileFifthHeader {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    float: left;
    display: inline-block;
    background-color: #fafafa!important;
    background-image: url(/images/mobile/bottom-bg.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 348px;
    text-align: center;
}

.mobileFifthHeaderTitle {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #fff!important;
    width: 100%;
    float: left;
}

.bottomText {
    font-size: 16px;
    color: white!important;
    font-weight: bold;
    width: 52%;
    margin: 0 auto;
}

.buttomBurron {
    margin-top: 117px!important;
}

.mobileFifthHeader span {
    font-size: 16px;
    color: #fff!important;
    font-weight: bold;
}


.firstAdsl {
    margin-top: 11px;
    margin-left: 2px;
}

.mobiletalk1 {
    margin-top: 20px;
}

.mobiletalk2 {
    margin-top: 13px;
}

.mobiletalk_cont_1 {
    margin-left: 63px!important;
}
.mobiletalk_cont_2 {
    margin-left: 8px!important;
}
.mobiletop_align_1 {
    margin-top: -19px;
}
.mobiletop_align_btn_1 {
    margin-top: 0px;
}
.mobiletitle_top_margin {
    margin-top: 28px;
}

.mobiletestemonials {
    width: 1060px;
    margin: 0 auto;
    background-color: white !important;
    /* margin-bottom: 11px; */
    float: left;
    display: inline-block;
    background: url(/images/lander/DeskTop_Testimonial_1.png);
    height: 383px;
    background-repeat: no-repeat;
    background-size: 1060px;
    /* margin-top: 36px; */
    background-position: 0px 0px;
}

.testBox {
    width: 60%;
    float:left;
}

.factsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 14px;
    color: black !important;
    width: 100%;
    float: left;
    letter-spacing: 0px;
    margin-top: -89px;
}

.mobiletestemonialsTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 14px;
    color: black !important;
    width: 100%;
    float: left;
    letter-spacing: 0px;
    margin-top: 52px;
}

.mobiletestemonialsText {
    text-align: center;
    font-size: 19px;
    width: 375px;
    margin: 0 auto;
    margin-top: -5px;
    margin-left: 38px;
    float: left;
}

.mobiletestemonialsText span {
    font-size: 16px;
    float: left;
    margin: 0 auto;
    margin-left: 110px;
    margin-top: 14px;
}

.mobileabout {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white !important;
    margin-top: 74px;
    float: left;
    background-image: url(/images/lander/Oval_grey.svg);
    background-position: 118px -222px;
    background-repeat: no-repeat;
    background-size: 1400px 3000px;
    padding-top: 18px;
}

.mobileaboutTitle {
    color: #006064 !important;
    font-size: 24px;
    font-weight: 800;
}

.mobileabout_1 {
    margin-top: 6px;
}

.mobileabout_2 {
    margin-top: 5px;
}

.mobileabout_5 {
    margin-top: -10px;
}

.mobileabout_3 {
    margin-top: 7px;
    line-height: 23px;
    margin-bottom: 11px;
}

.mobileabout_4 {
    Margin-top: -2px;
    width: 686px;
    line-height: 23px;
    margin-bottom: 10px;
}

.mobileaboutText {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 46px;
}

.mobileaboutText span {
    color: #4db6ac !important;
    font-weight: bold;
}

.mobilepanelLeft {
    width: 255px;
    float: left;
    padding: 29px;
    font-weight: bold;
    display: inline-block;
    margin-left: 38px;
    margin-top: -35px;
    padding-right: 0;
}

.mobilepanelLeft a {
    color: black !important;
    font-size: 17px;
    margin-bottom: 10px;
}

.mobilepanelLeft span {
    color: black !important;
    font-size: 16px;
    margin-bottom: 10px;
}

.mobilepanelRight {
    width: 703px;
    float: right;
    margin-top: -19px;
    margin-right: 54px;
}

.mobilelastButtonDiv {
    text-align: center;
    height: 99px;
    background-color: white !important;
    float: left;
    width: 100%;
    margin-top: -45px;
}

.mobilebackToTop {
    margin-left: 34px;
    font-size: 16px;
    float:left;
}

#myBtn {
    background-color: transparent!important;
    border: none;
}

#myBtn img {
    width: 44px;
    margin-top: 5px;
    margin-left: -10px;
}

.mobilelastButton {
    width: 326px;
    height: 67px;
    border-radius: 36px;
    fill: #eb36ca;
    color: white !important;
    background-color: #eb36ca!important;
    border: none;
    font-size: 29px;
    /* margin-top: 21px; */
    /* margin-left: -123px; */
    margin: 0 auto;
}

.mobilefooter {
    background-color: #185ba9 !important;
    width: 100%;
    height: 200px;
    overflow: hidden;
    font-weight: bold;
}

.mobilefooter_link {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white !important;
    font-weight: bold;
    font-size: 0.mobile8em;
    background-color: #185ba9 !important;
}

.mobilefooter_link a {
    color: white !important;
    font-weight: bold;
}

.mobilecopyright {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: white !important;
    font-weight: bold;
    font-size: 0.mobile8em;
    padding-top: 5px;
    background-color: #185ba9 !important;
}

/*.mobilenavbar-default {*/
/*    width: 1069px;*/
/*    margin: 0 auto;*/
/*}*/

.mobiletestemonialsImage {
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
}

.mobiletestemonialsImage img {
    width: 164px;
    height: 28px;
    margin-top: 11px;
}

.mobilearrowLeft {
    margin-top: 37px;
    float: left;
    margin-left: 57px;
}

.mobilearrowLeft img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mobilearrowRight {
    float: right;
    margin-top: -131px;
    margin-right: 55px;
}

.mobilearrowRight img {

}

.mobileprovidersMobile {
    display: none;
}

.mobilemobileOffer {
    display: none;
}

.mobileMobile {
    margin-left: 144px;
    margin-top: 15px;
    width: 484px;
}

.mobileaboutDropDown {
    display: none;
}

.mobilefourthHeaderMobile {
    display: none;
}

.mobileoffer_mobile {
    /*width: 122px;*/
    /*padding: 0px;*/
}

#landerAnchortoselect {
    font-size: 21px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-left: 31px;
    padding: 12px;
    border-radius: 24px;
    margin-top: 16px;
    color: #006064!important;
    font-weight: bold;
    background-color: white!important;
}

.mobileabout_wifi {
    margin-top: -0px;
}

#bundle {
    margin-top: 0px;
}
.mobilelanderTopSqure img {
    float: none;
}

.mobileHand {
    display: none;
}


.ticksss {
    background-color: #37819a!important;
    margin: 0 auto;
    margin-left: 367px;
    margin-top: 77px;
    border-radius: 32px;
}

.headerButton {
    margin-top: 77px;
    margin-left: 67px;
    border-radius: 32px;
}

.formTop {
    display: none;
}

@media only screen and (max-width: 480px) {

    .mobilefirstSqareText {
        font-size: 20px;
        padding-top: 7px;
    }

    .mobileIns {
        width: 86px!important;
    }

    .mobileHand {
        display: inline-block;
        width: 100%!important;
        overflow: hidden;
    }

    .mobileMobile {
        margin-left: 10%;
        margin-top: 15px;
        width: 484px;
    }

    .priceMobile {
        margin-top: 0px!important;
        padding-top: 5px!important;
    }

    .mobileheaderImagelander {
        background: url(/images/lander/mob-header.png);
        background-color: #fafafa;
        height: 507px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .mobilelanderButtonsDiv {
        width: 100%;
        float:left;
        margin-top: -123px;
    }

    .mobilelanderTopSqure {
        float: none;
        width: 73%;
        height: 70px;
        margin-top: 15px;
        margin-left: 13%;
        text-align: left;
    }

    .mobilelanderTopSqure img {
        float: left;
    }

    .mobilespecial {
        margin-top: 0px!important;
        width: 113px!important;
    }

    .mobilenewPage {
        width: 100%;
        margin: 0 auto;
    }

    .mobilefourthHeader {
        display: none;
    }

    .mobilefourthHeaderMobile {
        display: inline-block;
    }

    .mobileheaderPosition {
        margin-left: 14px;
        height: 264px;
    }

    .mobileinputPosition {
        display: none;
    }

    .mobileinputPositionMobile {
        position: relative;
        display: none;
        width: 100% !important;
        margin-top: -88px;
        padding-left: 0px;
        padding-top: 21px;
        float: left;
        left: 0 !important;
    }

    .mobilemainHeaderNew {
        height: 279px;
    }

    .mobileheaderInputMobile, .mobileheaderInputMobile:focus {
        display: inline-block;
        height: 65px;
        border-radius: 27px;
        border: none;
        fill: #f2f2f2;
        font-family: Quicksand;
        font-size: 24px;
        color: #545252;
        line-height: 36px;
        -webkit-box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.mobile2);
        box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.mobile2);
        outline: none;
        padding-left: 47px;
        position: relative;
        text-transform: uppercase;
        width: 94%;
        margin-left: 12px;
        margin-top: -3px;
    }

    .mobileheaderInputMobile::placeholder {
        text-transform: capitalize;
    }

    .mobileheaderInputIconMobile {
        width: 29px;
        position: absolute;
        top: 35px;
        left: 29px;
    }

    .mobileheaderInputButtonMobile {
        width: 52px;
        height: 51px;
        border-radius: 24px;
        fill: #3ab54a;
        background-color: #4db6ac !important;
        position: absolute;
        border: none;
        left: 82.5%;
        top: 25px;
    }

    .mobileheaderInputButtonIcon {
        margin-left: 4px;
    }

    .mobileheaderInput, .mobileheaderInput:focus {
        width: 95%;
        font-size: 17px;
    }

    .mobileheaderInputButtonText {
        display: none;
    }

    .mobileheaderH1 {
        width: 100%;
        height: 67px;
        font-size: 30px;
        margin-top: -95px;
        letter-spacing: 1px;
    }

    .mobile {
        width: 137px!important;
    }

    .mobileheaderH2 {
        width: 93%;
        margin-top: 32px;
        font-size: 16px;
        margin-left: 58px;
        letter-spacing: 0px;
        line-height: 20px;
    }

    .mobileheaderImage {
        background-position: -336px 252px;
        background-size: 735px;
    }

    .mobilenavbar-default {
        width: 100%;
        margin: 0 auto;
    }

    .mobilesecondHeaderTitle {
        padding-top: 10px;
    }

    .mobilesecondHeaderSectionTitle img {
        margin-bottom: 0px;
    }

    .mobilesecondHeader {
        max-width: 100%;
        margin: 9px auto 21px;
        height: 741px;
    }

    .mobileheaderInputIcon {
        left: 26px !important;
        top: 29px !important;
    }

    .mobileheaderInputButton {
        width: 55px;
        left: 297px !important;
        top: 26px !important;
    }

    .mobileprovidersMobile {
        display: inline-block;
        width: 324px;
    }

    .mobilesecondHeaderSection {
        width: 100%;
        margin-bottom: 7px;
    }

    .mobilesecondHeaderSectionTitle {
        font-size: 21px;
        margin-bottom: 0px;
    }

    .mobilesecondHeaderSectionText {
        font-size: 18px;
    }

    .mobilethirdHeader {
        margin-top: 0px;
        width:100%;
    }

    .mobileprovidersNewImg {
        width: 75%;
        height: auto;
        margin-left: 2px;
        margin-top: 5px;
        display: none;
    }

    .mobileprovidersTalk {
        height: 18px;
        float: left;
        vertical-align: 35px;
        margin-top: 21px;
    }

    .mobileHandrightLangerThird, .mobileHandLeftLangerThird {
        float: left;
        width: 500px;
        display: none;
    }

    .mobileHand {
        width: 100%;
    }

    .mobilethirdHeaderTitle {
        margin-bottom: 15px;
        text-align: center;
        float: left;
        font-size: 30px;
        font-weight: bold;
        padding: 17px 0 0 0px;
        color: rgb(23, 91, 168) !important;
        width: 100%;
        background-color: white !important;
    }

    .mobileoffer {
        background-color: white !important;
        width: 98%;
        /* height: 100%; */
        border: none;
        padding: 0;
        padding-top: 0;
        margin-left: 6px;
        margin-top: 0px;
        height: 293px!important;
    }

    .mobiletalk1 {
        margin-top: -3px;
    }

    .mobiletalk_cont_1 {
        margin-left: 3px!important;
    }

    .mobileofferImage img {
        width: 50px;
        margin-top: 9px;
        margin-right: 31px;
        float: right;
    }

    .mobileofferTitle {
        font-weight: bold;
        font-size: 20px;
        padding-left: 14px;
        padding-top: 17px;
        padding-bottom: 5px;
    }

    .mobileofferSubTitle {
        padding-left: 0;
        margin-top: -9px;
        margin-left: 13px;
        font-size: 18px;
    }

    .mobileofferContent {
        width: 32%;
        height: 68px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        float: left;
        margin-left: 0px;
        border-right: 1px solid;
        padding: 5px;
        margin-top: 0px;
    }

    .mobileoffer_mobile {
        width: 124px;
        padding: 0px;
        margin-top: -18px;
        height: 64px;
    }

    .mobileofferContent:nth-child(6) {
        margin-top: 0px;
    }

    .mobilemobile_price {
        font-size: 32px;
    }

    .mobileofferButton {
        width: 84%;
        margin-top: 9px;
        float: left;
        margin-left: 32px;
    }

    .mobilemobileOffer {
        display: inline-block;
    }

    .mobileofferContent:nth-child(5), .mobileofferContent:nth-child(8) {
        border-right: none;
    }

    .mobileofferContent:nth-child(3), .mobileofferContent:nth-child(4), .mobileofferContent:nth-child(5) {
        border-bottom: 1px solid black;
    }

    .mobileofferContent:nth-child(7) {
        border-right: 1px solid black;
    }

    .mobileofferImageTalk img {
        width: 85px;
        margin-top: 18px;
        float: right;
        margin-right: 15px;
        margin-left: 20px;
    }

    .mobiletestemonials {
        width: 100%;
        margin: 0 auto;
        background-color: white !important;
        margin-bottom: 0px;
        float: left;
        display: inline-block;
        background: url(/images/lander/DeskTop_Testimonial_1.png);
        height: 383px;
        background-position: -265px -1px;
        background-repeat: no-repeat;
        background-size: 1060px;
        margin-top: 0px;
    }

    .testBox {
        width: 100%;
        float: left;
    }

    .mobiletestemonialsTitle {
        margin-top: 58px;
    }

    .mobilearrowLeft {
        margin-left: 13px;
    }

    .mobilearrowRight {
        float: right;
        margin-top: -144px;
        margin-right: 15px;
    }

    .mobiletestemonialsText {
        text-align: center;
        font-size: 19px;
        width: 77%;
        margin: 0 auto;
        margin-top: 11px;
        margin-left: 4px;
        float: left;
    }

    .mobiletestemonialsText span {
        font-size: 16px;
        float: left;
        margin: 0 auto;
        margin-left: 67px;
        margin-top: 14px;
    }

    .factsTitle {
        margin-top: 0px;
    }

    .mobilefourthHeader {
        margin-top: 0px;
        background: none;
    }

    .mobileabout {
        max-width: 1100px;
        margin: 0 auto;
        background-color: white !important;
        margin-top: 0px;
    }

    .mobilepanelLeft {
        display: none;
    }

    .mobilepanelRight {
        background: none !important;
        width: 100%;
        float: left;
        padding: 16px;
    }

    .mobileaboutText {
        text-align: justify;
        font-size: 15.mobile8px;
    }

    .mobileaboutDropDown {
        display: inline-block;
    }

    .mobileabout_4 {
        Margin-top: -2px;
        width: 100%;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .mobileoffer_2_desc {
        width: 113px;
        padding: 0px;
        padding-top: 5px;
    }

    .mobileoffer_3 {
        margin-top: 0px !important;
    }

    .mobileoffer_2 {
        height: 279px !important;
    }

    .mobiletitle_top_margin {
        margin-top: -3px;
    }

    .mobileoffer_4 {
        height: 277px!important;
        padding-top: 8px;
    }

    .mobiletalk2 {
        margin-top: 8px;
    }

    #landerAnchortoselect {
        font-size: 21px;
        width: 371px;
        margin: 0 auto;
        text-align: center;
        margin-left: 13px;
        padding: 12px;
        border-radius: 24px;
        margin-top: 13px;
        color: #006064!important;
        font-weight: bold;
        height: 65px;
        text-align-last: center;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }

    .mobileAboutDropDown select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url(/images/lander/down.png);
        background-repeat: no-repeat;
        background-position-x: 91%;
        background-position-y: 17px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding: 1rem;
        padding-right: 2rem;
    }

    .mobileabout_1 {
        margin-top: 16px;
    }

    .mobileabout_2 {
        margin-top: -12px;
    }

    .mobileabout_wifi {
        margin-top: -36px;
    }

    .mobileabout_3 {
        margin-top: -5px;
        line-height: 28px;
        margin-bottom: -6px;
    }

    .mobileabout_5 {
        margin-top: -28px;
        line-height: 25px;
    }

    #bundle {
        margin-top: -20px;
    }

    .mobilebackToTop {
        margin-left: 4px;
        font-size: 16px;
        float: none;
    }
    .mobilelastButtonDiv {
        height: 146px;
    }
    .mobilelastButton {
        width: 260px;
        height: 46px;
        border-radius: 14px;
        fill: #3ab54a;
        color: white !important;
        border: none;
        font-size: 25px;
        margin-top: 17px;
        margin-left: -1px;
    }

    .headerButton {
        margin-top: -10px;
        margin-left: 67px;
        border-radius: 32px;
    }

    .mobileFifthHeader {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        float: left;
        display: inline-block;
        background-color: #fafafa!important;
        background-image: url(/images/mobile/bottom-bg.png);
        background-size: 345% 101%;
        background-repeat: no-repeat;
        height: 345px;
        text-align: center;
    }

    .buttomBurron {
        margin-top: 20px!important;
    }

    .bottomText {
        font-size: 16px;
        color: white!important;
        font-weight: bold;
        width: 88%;
        margin: 0 auto;
    }

    .mobileJourney {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .mobileAnserSquare {
        float: left;
        width: 38%;
    }

    .mobile_offer_bottom {
        /* width: 1024px; */
        width: 100%;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 59% 100%;
        margin: 0 auto;
        float: left;
        margin-left: 0;
    }

    .mobile_offer_right {
        width: 100%;
        float: right;
    }

    .formTop {
        display: inline-block;
        font-size: 14px;
        color: white!important;
        height: 54px;
        text-align: center;
        font-weight: bold;
        background-color: #fc30d0!important;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .formTop span{
        font-size: 20px;
    }

    .mobile_offer_top {
        font-size: 16px;
        color:#6e6e6e!important;
        padding: 12px;
    }

}

.ssl_footer {
    float: left;
}

@media only screen and (max-width: 414px) {
    .mobileoffer_2_desc, .mobileoffer_mobile, .mobilespecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 412px) {
    .mobileoffer_2_desc, .mobileoffer_mobile, .mobilespecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 390px) {
    .mobileoffer_2_desc, .mobileoffer_mobile, .mobilespecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 384px) {
    .mobileoffer_2_desc, .mobileoffer_mobile, .mobilespecial {
        width: 113px!important;
    }
}

@media only screen and (max-width: 375px) {
    .mobilebackToTop {
        margin-left: 4px;
        font-size: 16px;
        float: none;
    }
    .mobilelastButtonDiv {
        height: 146px;
    }
    #landerAnchortoselect {
        font-size: 21px;
        width: 331px;
        margin: 0 auto;
        text-align: center;
        margin-left: 13px;
        padding: 12px;
        border-radius: 24px;
        margin-top: 13px;
        color: #006064!important;
        font-weight: bold;
        height: 65px;
        -moz-text-align-last: center;
        text-align-last: center;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }

    .mobileheaderInputMobile, .mobileheaderInputMobile:focus {
        font-size: 18px;
    }
    .mobilespecial {
        margin-top: 0!important;
        width: 113px!important;
    }

    .mobileheaderInputButtonIcon {
        margin-left: 0px;
    }

    .mobileheaderInputButtonMobile {
        left: 81%;
        top: 25px;
    }

    .mobileofferContent {
        font-size: 13px;
    }

    .mobileofferButton {
        width: 84%;
        margin-top: 7px;
        float: left;
        margin-left: 32px;
    }

    .mobileoffer {
        margin-top: 0px;
    }

    .mobileoffer_2_desc, .mobileoffer_mobile {
        width: 113px;
    }

    .mobilelastButton {
        margin-top: 17px;
        margin-left: -1px;
    }

    .mobileoffer_3 {
        margin-top: 0px!important;
    }

    .mobileoffer_2 {
        height: 267px!important;
    }

    .mobileoffer_4 {
        height: 277px!important;
        padding-top: 0px;
    }

}

#landerAnchortoselect option:nth-child(1) {

}

@media only screen and (max-width: 360px) {
    .mobileheaderInputMobile, .mobileheaderInputMobile:focus {
        width: 94%;
        margin-left: 12px;
        margin-top: -3px;
        font-size: 20px;
        border: none;
    }

    #landerAnchortoselect {
        font-size: 21px;
        width: 320px;
        border: none;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }
    .mobileheaderInputButtonMobile {
        left: 81%;
        top: 25px;
    }

    .mobilethirdHeaderTitle {
        font-size: 26px;
    }
    .mobilefourthHeaderTitle {
        text-align: center;
        font-size: 28px;
    }
    .mobileoffer {
        background-color: white !important;
        width: 97%;
        margin-bottom: 25px;
    }

    .mobileofferImageTalk img {
        width: 85px;
        margin-top: 27px;
        float: right;
        margin-right: 14px;
    }

    .mobileofferImage img {
        width: 50px;
        margin-top: 9px;
        margin-right: 29px;
        float: right;
    }

    .mobileofferContent {
        width: 32%;
        height: 68px;
        font-size: 12px;
    }
    .mobileoffer_lengths1 {
        width: 32%!important;
    }
    .mobileofferContent:nth-child(7) {
        border-right: 1px solid black;
        margin-top: 0px;
    }
    .mobileoffer_mobile {
        width: 32%;
        padding: 0px;
        margin-top: -18px;
        height: 64px;
        padding-top: 1px;
    }
    .mobileofferContent:nth-child(6) {
        margin-top: 0px;
    }
    .mobileofferContent:nth-child(5) {
        width: 111px;
    }
    .mobilespecial {
        margin-top: 0!important;
        width: 113px!important;
    }


}

@media only screen and (max-width: 320px) {
    .mobileoffer_lengths1 {
        width: 36%!important;
    }
    .mobileofferContent {
        width: 32%;
        height: 68px;
        font-size: 11px;
    }
    .mobileheaderH1 {
        width: 100%;
        height: 67px;
        font-size: 25px;
        margin-top: -95px;
        letter-spacing: 1px;
    }
    .mobilefirstSqareText {
        font-size: 19px;
        padding-top: 9px;
    }
    .mobilesecondSqareText {
        font-size: 12px;
    }
}

/* NEW SPEED JOURNEY */

.mobilespeedHeaderH1 {
    font-family: Quicksand;
    font-size: 52px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
}

.mobilespeedHeaderPosition {
    margin-left: 34px;
    padding-top: 58px;
    width: 744px;
    text-align: center;
    margin: 0 auto;
}

.mobilespeedHeaderH2 {
    /* width: 557px; */
    height: 77px;
    font-family: Quicksand;
    font-size: 26px;
    color: #ffffff;
    -webkit-text-decoration: none solid rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 30px;
    padding-top: 22px;
}

.mobilespeedlastButton {
    width: 291px;
    height: 53px;
    border-radius: 21px;
    fill: #3ab54a;
    color: white !important;
    background-color: #3ab54a !important;
    border: none;
    font-size: 26px;
    margin-top: -5px;
}

.mobilespeedLastButtonDiv {
    text-align: center;
    height: 68px;
    background-color: transparent !important;
    float: left;
    width: 100%;
    margin-top: -10px;
}

.mobilespecs {
    padding-left: 27px;
}

.mobilespeedresult {
    width: 100%;
    float: left;
    margin: 0 auto;
}

.mobileinterpretation {
    width: 79%;
    height: 349px;
    margin: 0 auto;
    background-color: #649fe2!important;
    border-radius: 10px;
    text-align: center;
}

.mobilespecsSquare {
    width: 266px;
    float: left;
    height: 71px;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    padding-top: 8px;
}

.mobilered {
    color: white;
    font-weight: bold;
    background-color: #fc1717!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.mobileorange {
    color: white;
    font-weight: bold;
    background-color: #fca817!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.mobilegreen {
    color: white;
    font-weight: bold;
    background-color: #3ab54a!important;
    height: 49px;
    line-height: 51px;
    font-size: 23px;
    padding-top: 0px;
}

.mobileupload {
    margin-top: 120px;
}

.mobileinterpretationTitle {
    text-align: center;
    padding-top: 11px;
    font-size: 25px;
    color: white;
}

.mobilespeedDesc {
    float:left;
    text-align: center;
    margin-top: 21px;
}

.mobilespeedDescTitle {
    font-size: 25px;
    color: #175ba8!important;
}

.mobilespeedDescText {
    font-size: 17px;
    width: 86%;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 25px;
}

.mobilespeedDescText a:hover {
    text-decoration: none;
    cursor: default;
}

.mobilespeedExamples {
    float: left;
    text-align: center;
    margin-top: 33px;
    background-color: #f7f5f5!important;
}

.mobilespeedExamples img {
    width: 120px;
}

.mobileiframeContainer {
    float: left;
    width: 100%;
}

.mobilenetflix {
    margin-bottom: -9px;
}

.mobileiframe {
    width: 670px;
    height: 489px;
    background-color: #649fe2!important;
    margin: 0 auto;
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px;
}

.mobilespeedSecondHeaderTitle {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding-top: 26px;
    padding-bottom: 20px;
    color: rgb(23, 91, 168) !important;
}

.mobilehoumuch {
    margin-top: 45px;
}

.mobileskype {
    width: 147px!important;
    margin-top: 14px;
}

.mobilezoom {
    margin-top: 21px;
}

.mobilebetter {
    margin-top: 49px;
    margin-bottom: 31px;
}

.mobilebetterButton {
    margin-bottom:22px;
}

.mobilemainHeaderSpeed {
    /* height: 450px; */
    font-family: Quicksand;
    float: left;
    background-color: white;
}

.mobilespeedheaderImage {
    background: url(/images/new/new.jpg);
    background-color: #3397a4;
    height: 461px;
    background-position: -92px -18px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 1338px;
}

@media only screen and (max-width: 480px) {
    .mobilespeedHeaderPosition {
        margin-left: 1px;
        padding-top: 0px;
        width: 100%;
    }
    .mobilemainHeaderSpeed {
        width: 100%;
    }
    .mobilespeedHeaderH1 {
        font-size: 44px;
    }
    .mobilespeedHeaderH2 {
        font-size: 18px;
        padding-top: 9px;
    }
    .mobileiframe {
        width: 100%;
        height: 287px;
        background-color: #649fe2!important;
        margin: 0 auto;
        margin-left: 0;
        border-radius: 0;
    }
    .mobileinterpretation {
        width: 100%;
        border-radius: 0;
        height: 474px;
    }
    .mobilespecs {
        padding-left: 1px;
    }
    .mobilespecsSquare {
        width: 118px;
        height: 142px;
    }
    .mobilered, .mobileorange, .mobilegreen {
        height: 49px;
        font-size: 19px;
    }
    .mobilespeedDesc {
        float: left;
        text-align: left;
        margin-top: 106px;
    }
    .mobilespeedExamples {
        float: left;
        text-align: left;
        margin-top: 33px;
        background-color: #f7f5f5!important;
        width: 100%;
    }
}